body, html{
  margin:0;
  padding:0;
}
.whole{
    font-family:Lobster, Monospace;
    background-color:none;
}
.cen{
    position: fixed;
    font-size:300%;
    width:32%;
    top: 50%;
    left: 50%;
    color:yellow;
    border:2px solid yellow;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.thin-blue-border {
    border-color: #87CEEB;
    border-width: 5px;
    border-style: solid;
    border-radius: 100%;
  }
  .thin-white-border {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
  }
#about{
    font-family:Lobster,Monospace;
    margin-top:400px;
    font-size:150%;
    background-color:#f2ece2;
    border:2px solid black;
}
#picture{
    margin-top:100px;
    margin-left:-20px;
    position:fixed;
}
#portfolio{
    font-family:Lobster,Monospace;
    margin-top:80px;
    margin-left:25%;
    margin-right:25%;
    font-size:150%;
    background-color:#cb6;
    border:2px solid black;
    float:center;
    text-align:left;
}
#contact{
    font-family:Lobster,Monospace;
    margin-top:80px;
    margin-left:25%;
    margin-right:25%;
    font-size:150%;
    background-color:#cb6;
    border:2px solid black;
    float:center;
    text-align:left;
}
#topDiv{
    overflow: hidden;
    background-color : black;
    padding:20px;
    position:fixed;
    width:100.00%;
    margin-bottom:50px;
    top: 0;
}
#top1{
    margin-left:60%;
  }
  #top2{
    margin-left:2.5%;
  }
  #top3{
    margin-left:6%;
  }
.btn {
    padding: 10px 20px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
.btn.sharp {
  border-radius:0;
}
.btn-lg.round {
    border-radius: 20px;
}
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
.btn-black{
    background:black;
}
#submit{
    width: 15em;  height: 2em;
    margin-top:25px;
    margin-left:170px;
}
#NewNote{
    font-size:100%;
}
